/jquery-jvectormap-2.0.2.css
/jquery-jvectormap-2.0.2.min.js
/jquery-jvectormap-au-mill.js
/jquery-jvectormap-in-mill.js
/jquery-jvectormap-uk-mill-en.js
/jquery-jvectormap-us-aea-en.js
/jquery-jvectormap-world-mill-en.js
/jvectormap.custom.js
