/FontAwesome.otf
/Material-Design-Iconic-Font.eot
/Material-Design-Iconic-Font.svg
/Material-Design-Iconic-Font.ttf
/Material-Design-Iconic-Font.woff
/Material-Design-Iconic-Font.woff2
/Simple-Line-Icons.eot
/Simple-Line-Icons.svg
/Simple-Line-Icons.ttf
/Simple-Line-Icons.woff
/Simple-Line-Icons.woff2
/fontawesome-webfont.eot
/fontawesome-webfont.svg
/fontawesome-webfont.ttf
/fontawesome-webfont.woff
/fontawesome-webfont.woff2
/line-awesome.eot
/line-awesome.svg
/line-awesome.ttf
/line-awesome.woff
/line-awesome.woff2
/themify.eot
/themify.svg
/themify.ttf
/themify.woff
/weathericons-regular-webfont.eot
/weathericons-regular-webfont.svg
/weathericons-regular-webfont.ttf
/weathericons-regular-webfont.woff
/weathericons-regular-webfont.woff2
