/Calendar.min.js
/app-script.js
/bootstrap.js
/bootstrap.min.js
/fullcalendar.js
/index.js
/index2.js
/jquery-1.10.2.js
/jquery-ui.custom.min.js
/jquery.min.js
/logistics.js
/popper.min.js
/service-support.js
/sidebar-menu.js
/widgets.js
